* {
  font-size: 14px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}
header.title-header {
  display: block;
  width: 100%;
  height: 75px;
  text-align: center;
}
.title-header .title {
  font-size: 4em;
}

main {
  background: rgb(227, 227, 227);
  display: flex;
  height: 100%;
}
aside.left-sidebar {
  background: white;
  flex-grow: 1;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid black;
}
aside.left-sidebar * {
  text-align: center;
}
aside.left-sidebar > * {
  margin-bottom: 30px;
}
div.new-post-container {
  margin-bottom: 10px;
}
.new-post-container {
  width: 100%;
  background: transparent !important;  /* override the shutter in effect */

}
.new-post-container:hover {
  cursor: pointer !important;
}
.new-post-container .new-post {
  width: 100%;
  border: none;
  background: none;
  font-size: 2em;
  padding: 20px 50px;
}
div.new-post-container.hvr-shutter-out-horizontal::before {
  background: black;
}
div.new-post-container.hvr-shutter-out-horizontal:hover * {
  color: white;
}

div.search-box input {
  height:35px;
  text-align: left;
  padding-left: 5px;
}
div.search-box .icon-box {
  cursor: pointer;
  position: relative;
  background: #000000;
  width: 30%;
  height: 35px;
  top: 35px;
  left: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.search-box span i {
  font-size: 24px;
}

.latest-posts, .latest-comments {
  width: 200px;
}

.latest-posts > p, .latest-comments > p {
  font-size: 1.5em;
  border-bottom: 1px solid black;
}
.latest-posts .latest-post, .latest-comments .latest-comment {
  margin-top: 20px;
}
.latest-post > p, .latest-comment > p {
  font-size: 1.2em;
}

.latest-post, .latest-comment {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: te;
  animation-duration: 1s;
  color: black;
  background: white;
  transition: all ease 1s;
}
.latest-post *, .latest-comment * {
  transition: all linear 0.3s; /* TODO: Faster*/
}
.latest-post:hover *, .latest-comment:hover * {
  color: white;
  cursor: pointer;
}
.latest-post:hover, .latest-comment:hover {
  background: black;
}
.new-post {
  cursor: pointer;
}



section.diary-entries {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.diary-entries .diary-entry {
  width: 70%;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  background: white;
  margin: 50px 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: inherit !important;  /* Fixes text blurriness while zoomign in on hvr-glow*/

}

.diary-entries .diary-entry:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px lime;
}

.diary-entry .diary-header {
  background: black;
  width: 40%;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 30px;
}
.diary-header .diary-title {
  font-size: 2em;
  padding-bottom: 10px;
}
.diary-header .diary-date {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 5px;
}
.diary-content {
  text-align: left;
  padding: 20px;
  flex-grow: 1;
}
.diary-footer {
  text-align: right;
  padding-right:30px;
  padding-bottom: 5px;
}

.diary-header * {
  color: white;
}